.header-container {
  min-height: 70vh;
  background-color: #ebebeb;
  font-size: 1.8rem;
  padding: 10vh 7vw;
}

.main-container {
  z-index: 1;
  position: relative;
  top: -15vh;
}

.footbar {
  height: 10vh;
  background-color: #ebebeb;
}

ul > li > a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

ul > li:last-child ul > li > a {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

ul > li.selected {
  color: #007bff;
}